Node-RED/ESP32 - MQTT.json
[{"id":"9836ac50350623ca","type":"tab","label":"ESP32 - MQTT","disabled":false,"info":"","env":[]},{"id":"d1cf4e83.e20df8","type":"mqtt in","z":"9836ac50350623ca","name":"MQTT In","topic":"iot/sensor/data","qos":"0","datatype":"json","broker":"1f9a59e0.e27a56","nl":false,"rap":true,"rh":0,"inputs":0,"x":280,"y":200,"wires":[["729f8a34.832d74","f97360a2.36b5c","ebc10e90.5b3e7","bb9037c0d585d346","9f97ddfe544251b4"]]},{"id":"729f8a34.832d74","type":"debug","z":"9836ac50350623ca","name":"Debug Payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":550,"y":140,"wires":[]},{"id":"f97360a2.36b5c","type":"ui_gauge","z":"9836ac50350623ca","name":"Temperature Gauge","group":"f26bf90f.482528","order":1,"width":"9","height":"8","gtype":"gage","title":"Temperatura (°C)","label":"°C","format":"{{msg.payload.temperature}}","min":"-10","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":580,"y":240,"wires":[]},{"id":"ebc10e90.5b3e7","type":"ui_gauge","z":"9836ac50350623ca","name":"Humidity Gauge","group":"f26bf90f.482528","order":2,"width":"9","height":"8","gtype":"gage","title":"Umidade (%)","label":"%","format":"{{msg.payload.humidity}}","min":"0","max":"100","colors":["#ca3838","#e6e600","#00b500"],"seg1":"","seg2":"","diff":false,"className":"","x":560,"y":340,"wires":[]},{"id":"bb9037c0d585d346","type":"function","z":"9836ac50350623ca","name":"Fomat data for DB","func":"msg.payload = {\n    TableName: \"IoTSensorData\",\n    Item: {\n        SensorID: { S: \"DHT11\" }, \n        Timestamp: { S: new Date().toISOString() }, \n        Temperature: { N: msg.payload.temperature.toString() }, \n        Humidity: { N: msg.payload.humidity.toString() },\n    }\n};\nreturn msg.payload;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":420,"wires":[["be7b572444b5643a"]]},{"id":"be7b572444b5643a","type":"AWS DynamoDB","z":"9836ac50350623ca","aws":"6e4ea6cf4fd6c2bd","operation":"PutItem","Statements":"","RequestItems":"","TableName":"","BackupName":"","GlobalTableName":"","ReplicationGroup":"","AttributeDefinitions":"","KeySchema":"","BackupArn":"","Key":"","ExportArn":"","Statement":"","TransactStatements":"","TableArn":"","S3Bucket":"","ResourceArn":"","Item":"","TargetTableName":"","Tags":"","TransactItems":"","TagKeys":"","PointInTimeRecoverySpecification":"","ContributorInsightsAction":"","ReplicaUpdates":"","TimeToLiveSpecification":"","name":"","x":800,"y":420,"wires":[[],["cc406e4379f2c668"]]},{"id":"cc406e4379f2c668","type":"debug","z":"9836ac50350623ca","name":"debug 7","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1020,"y":420,"wires":[]},{"id":"9f97ddfe544251b4","type":"function","z":"9836ac50350623ca","name":"Save data for global context","func":"// Armazenando os dados recebidos no contexto global\nglobal.set(\"dht11_data\", msg.payload);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":500,"wires":[[]]},{"id":"1f9a59e0.e27a56","type":"mqtt-broker","name":"MQTT Broker","broker":"52.14.56.16","port":"1883","clientid":"node-red-client","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"f26bf90f.482528","type":"ui_group","name":"Monitoramento em tempo real","tab":"3a243fed.0a18f8","order":1,"disp":true,"width":"18","collapse":false,"className":""},{"id":"6e4ea6cf4fd6c2bd","type":"amazon config","name":"AWS","region":"us-east-2","proxyRequired":false,"proxy":""},{"id":"3a243fed.0a18f8","type":"ui_tab","name":"Sensor Dashboard","icon":"dashboard","order":1,"disabled":false,"hidden":false}]