Node-RED/Notificação.json
[{"id":"85b8c2a6d145284a","type":"tab","label":"Notificação","disabled":false,"info":"","env":[]},{"id":"5ce42c759681ce3d","type":"ui_text_input","z":"85b8c2a6d145284a","name":"humidity","label":"Insira a umidade","tooltip":"Nível de umidade para alerta","group":"90061ed94f85aaf4","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"humidity_limit","sendOnBlur":true,"className":"","topicType":"str","x":160,"y":380,"wires":[["ae123772b25fa74c"]]},{"id":"e6f3815001a79f61","type":"ui_text_input","z":"85b8c2a6d145284a","name":"temperature","label":"Insira a temperatura","tooltip":"Grau mínimo para alerta","group":"90061ed94f85aaf4","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"temperature_limit","sendOnBlur":true,"className":"","topicType":"str","x":170,"y":260,"wires":[["ae123772b25fa74c","daf3a9514052f45d"]]},{"id":"ae123772b25fa74c","type":"function","z":"85b8c2a6d145284a","name":"Save inputs","func":"if (msg.topic === \"temperature_limit\") {\n    context.set(\"temperature_limit\", msg.payload);\n} \nif (msg.topic === \"humidity_limit\") {\n    context.set(\"humidity_limit\", msg.payload);\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":320,"wires":[[]]},{"id":"daf3a9514052f45d","type":"debug","z":"85b8c2a6d145284a","name":"debug 6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":260,"wires":[]},{"id":"dff2e90c712a5738","type":"inject","z":"85b8c2a6d145284a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":80,"wires":[["342f507ff98fa68a"]]},{"id":"342f507ff98fa68a","type":"function","z":"85b8c2a6d145284a","name":"Rules for notifications","func":"var dht11_data = global.get('dht11_data');\nvar temperature_limit = context.get('temperature_limit');\nvar humidity_limit = context.get('humidity_limit');\n\nif (dht11_data.temperature > temperature_limit) {\n    msg.payload.temperature = `Alerta! Temperatura acima de ${temperature_limit}°C | Temperatura atual: ${dht11_data.temperature}ºC`;\n}\n\nif (dht11_data.humidity < humidity_limit) {\n    msg.payload.temperature = `Alerta! Umidade abaixo de ${humidity_limit}% | Umidade atual: ${dht11_data.humidity}%`;\n}\n\nif (msg.payload.temperature || msg.payload.humidity) {\n    return msg;\n} else {\n    return null;\n}","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":80,"wires":[[]]},{"id":"90061ed94f85aaf4","type":"ui_group","name":"Definir alerta","tab":"ecc2a8f185c5ed05","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"ecc2a8f185c5ed05","type":"ui_tab","name":"Notificação","icon":"dashboard","order":3,"disabled":false,"hidden":false}]